<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <title>Cyborg - Awesome HTML5 Template</title>
        <script>
            window.env = {
                API: "<%= process.env.API %>",
            };
        </script>

        <!-- Bootstrap core CSS -->
        <link
            href="../vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="../assets/css/fontawesome.css" />
        <link
            rel="stylesheet"
            href="../assets/css/templatemo-cyborg-gaming.css"
        />
        <link rel="stylesheet" href="../assets/css/owl.css" />
        <link rel="stylesheet" href="../assets/css/animate.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
        />
        <!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        <!-- ***** Most Popular Start ***** -->
                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Welcome to Elliptic Curve</h4>
                                    </div>
                                    <div class="col-12">
                                        <div class="crypto-systems-creation">
                                            <div
                                                class="crypto-systems-input"
                                                style="
                                                    display: flex;
                                                    flex-direction: column;
                                                "
                                            >
                                                <h4 style="color: aqua">
                                                    Enter parameters
                                                </h4>
                                                <form
                                                    class="parameter-input"
                                                    action="#"
                                                >
                                                    Enter p:
                                                    <input
                                                        readonly
                                                        class="col-lg-8"
                                                        type="text"
                                                        placeholder="Type p"
                                                        id="p-input"
                                                        name="p-number"
                                                        onkeypress="handle"
                                                    />
                                                    Enter a:
                                                    <input
                                                        readonly
                                                        class="col-lg-8"
                                                        type="text"
                                                        placeholder="Type a"
                                                        id="a-input"
                                                        name="a-number"
                                                        onkeypress="handle"
                                                    />
                                                    Enter b:
                                                    <input
                                                        readonly
                                                        class="col-lg-8"
                                                        type="text"
                                                        placeholder="Type b"
                                                        id="b-input"
                                                        name="b-number"
                                                        onkeypress="handle"
                                                    />
                                                    Enter s:
                                                    <input
                                                        class="col-lg-8"
                                                        type="text"
                                                        placeholder="Type s"
                                                        id="s-input"
                                                        name="s-number"
                                                        onkeypress="handle"
                                                    />
                                                </form>
                                            </div>
                                            <!-- <div class="crypto-systems-stats">
                                                <h3 style="color:aqua">Stats</h3>
                                                <div class="crypto-systems-stats-item">
                                                    <h4>Elliptic Curve</h4>
                                                    <label class="fs-4 text-white" id="curve-equation">y^2 = x^3 + ax + b</label>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="text-center mt-3">
                                            <!-- <button class="btn btn-primary" type="submit">Build</button> -->
                                            <button
                                                class="btn btn-primary"
                                                type="submit"
                                                onclick="autoGenCrypSys()"
                                            >
                                                Generate
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Key Distribution</h4>
                                    </div>
                                    <div class="col-12">
                                        <div class="crypto-systems-input">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Public key:
                                            </h4>
                                            <div class="result-box">
                                                <label for="p-pubkey">p:</label>
                                                <input
                                                    type="text"
                                                    id="p-pubkey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('p-pubkey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <div class="result-box">
                                                <label for="a-pubkey">a:</label>
                                                <input
                                                    type="text"
                                                    id="a-pubkey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('a-pubkey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <div class="result-box">
                                                <label for="b-pubkey">b:</label>
                                                <input
                                                    type="text"
                                                    id="b-pubkey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('b-pubkey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <label
                                                style="
                                                    color: white;
                                                    font-size: larger;
                                                    font-weight: 800;
                                                "
                                                >B:</label
                                            >
                                            <div class="result-box">
                                                <label
                                                    style="font-weight: 300"
                                                    for="xB-pubkey"
                                                    >x:</label
                                                >
                                                <input
                                                    type="text"
                                                    id="xB-pubkey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('xB-pubkey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <div class="result-box">
                                                <label
                                                    style="font-weight: 300"
                                                    for="yB-pubkey"
                                                    >y:</label
                                                >
                                                <input
                                                    type="text"
                                                    id="yB-pubkey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('yB-pubkey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <h4 class="text-white fs-4 fw-bold">
                                                Private key:
                                            </h4>
                                            <div class="result-box">
                                                <label for="p-prikey">p:</label>
                                                <input
                                                    type="text"
                                                    id="p-prikey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('p-prikey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <div class="result-box">
                                                <label for="a-prikey">a:</label>
                                                <input
                                                    type="text"
                                                    id="a-prikey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('a-prikey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <div class="result-box">
                                                <label for="b-prikey">b:</label>
                                                <input
                                                    type="text"
                                                    id="b-prikey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('b-prikey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                            <div class="result-box">
                                                <label for="s-prikey">s:</label>
                                                <input
                                                    type="text"
                                                    id="s-prikey"
                                                    readonly
                                                />
                                                <button
                                                    onclick="copyToClipboard('s-prikey')"
                                                >
                                                    Copy
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Encryption</h4>
                                    </div>
                                    <div class="flex-direction: column">
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Plain text (alphabet):
                                            </h4>
                                            <textarea
                                                id="plain-alphabet-encrypt"
                                                placeholder="Type here"
                                                class="text-area-large"
                                            ></textarea>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Plain text (Integer):
                                            </h4>
                                            <textarea
                                                id="plain-integer-encrypt"
                                                class="text-area-large"
                                                readonly
                                            ></textarea>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Encrypted text (Points in
                                                curve):
                                            </h4>
                                            <label class="fs-5 text-white d-block">Point 1</label>
                                            <label class="fs-4 text-white d-block">x:</label>
                                            <textarea
                                                id="cipher-x-encrypt-1"
                                                class="text-area-large"
                                                readonly
                                            ></textarea>
                                            <label class="fs-4 text-white"
                                                >y:
                                            </label>
                                            <textarea
                                                id="cipher-y-encrypt-1"
                                                class="text-area-large"
                                                readonly
                                            ></textarea>
                                            <label class="fs-5 text-white d-block">Point 2</label>
                                            <label class="fs-4 text-white d-block">x:</label>
                                            <textarea
                                                id="cipher-x-encrypt-2"
                                                class="text-area-large"
                                                readonly
                                            ></textarea>
                                            <label class="fs-4 text-white"
                                                >y:
                                            </label>
                                            <textarea
                                                id="cipher-y-encrypt-2"
                                                class="text-area-large"
                                                readonly
                                            ></textarea>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button
                                            class="btn btn-primary"
                                            onclick="encryptText()"
                                        >
                                            Encrypt
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Decryption</h4>
                                    </div>
                                    <div class="flex-direction: column">
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Decrypted text (Points in
                                                curve):
                                            </h4>
                                            <label class="fs-5 text-white d-block">Point 1</label>
                                            <label class="fs-4 text-white d-block">x:</label>
                                            <textarea
                                                id="cipher-x-decrypt-1"
                                                class="text-area-large"
                                            ></textarea>
                                            <label class="fs-4 text-white"
                                                >y:
                                            </label>
                                            <textarea
                                                id="cipher-y-decrypt-1"
                                                class="text-area-large"
                                            ></textarea>
                                            <label class="fs-5 text-white d-block">Point 2</label>
                                            <label class="fs-4 text-white d-block">x:</label>
                                            <textarea
                                                id="cipher-x-decrypt-2"
                                                class="text-area-large"
                                            ></textarea>
                                            <label class="fs-4 text-white"
                                                >y:
                                            </label>
                                            <textarea
                                                id="cipher-y-decrypt-2"
                                                class="text-area-large"
                                            ></textarea>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Plain text (Integer):
                                            </h4>
                                            <textarea
                                                class="text-area-large"
                                                id="plain-integer-decrypt"
                                                readonly
                                            ></textarea>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">
                                                Plain text (alphabet):
                                            </h4>
                                            <textarea
                                                readonly
                                                id="plain-alphabet-decrypt"
                                                class="text-area-large"
                                            ></textarea>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button
                                            class="btn btn-primary"
                                            onclick="decryptText()"
                                        >
                                            Decrypt
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../assets/js/isotope.min.js"></script>
        <script src="../assets/js/owl-carousel.js"></script>
        <script src="../assets/js/tabs.js"></script>
        <script src="../assets/js/popup.js"></script>
        <script src="../assets/js/custom.js"></script>
        <script src="../assets/js/cryptosystem/ecc.js"></script>
    </body>
</html>
