<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <title>Cyborg - Awesome HTML5 Template</title>

        <!-- Bootstrap core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="../assets/css/fontawesome.css" />
        <link rel="stylesheet" href="../assets/css/templatemo-cyborg-gaming.css" />
        <link rel="stylesheet" href="../assets/css/owl.css" />
        <link rel="stylesheet" href="../assets/css/animate.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
        />
        <!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
    </head>

    <body>


        <%- include('./partials/header.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        <!-- ***** Most Popular Start ***** -->
                        <div class="heading-section">
                            <h4>Let's explore Crypto Algorithms! </h4>
                        </div>
                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>AKS primality check</h4>
                                    </div>
                                    <div class="col-12">
                                        <div class="crypto-systems-input">
                                            <form class="parameter-input" id="aks-form">
                                                Enter number: <input
                                                    class="col-lg-10"
                                                    type="text"
                                                    placeholder="Type here"
                                                    id="p-input-aks"
                                                    name="p-number"

                                                />
                                                <div id="is-prime-aks" style="display: none;">
                                                    <i class="bi bi-check-circle-fill" style="color: rgb(89, 255, 89);"></i> IS PRIME
                                                </div>
                                                <div id="not-prime-aks" style="display: none;">
                                                    <i class="bi bi-x-circle-fill" style="color: rgb(249, 67, 88);"></i> NOT PRIME
                                                </div>
                                                <div id="loading-spinner-aks" class="text-center mt-3" style="display: none;">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Waiting...</span>
                                                    </div>
                                                </div>
                                                <div class="text-center mt-3">
                                                    <button class="btn btn-primary" type="submit">Check primality</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Miller-Rabbin primality check</h4>
                                    </div>
                                    <div class="col-12">
                                        <div class="crypto-systems-input">
                                            <form class="parameter-input" id="miller-rabbin-form">
                                                Enter number: <input
                                                    class="col-lg-10"
                                                    type="text"
                                                    placeholder="Type here"
                                                    id="p-input-miller-rabbin"
                                                    name="p-number"

                                                />
                                                <div id="is-prime-miller-rabbin" style="display: none;">
                                                    <i class="bi bi-check-circle-fill" style="color: rgb(89, 255, 89);"></i> IS PRIME
                                                </div>
                                                <div id="not-prime-miller-rabbin" style="display: none;">
                                                    <i class="bi bi-x-circle-fill" style="color: rgb(249, 67, 88);"></i> NOT PRIME
                                                </div>
                                                <div id="loading-spinner-miller-rabbin" class="text-center mt-3" style="display: none;">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Waiting...</span>
                                                    </div>
                                                </div>
                                                <div class="text-center mt-3">
                                                    <button class="btn btn-primary" type="submit">Check primality</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Generate prime number </h4>
                                    </div>
                                    <div class="col-12">
                                        <div class="crypto-systems-input">
                                            <form class="parameter-input" id="generate-prime-form">
                                                Enter number of bits: <input
                                                    class="col-lg-10"
                                                    type="text"
                                                    placeholder="Type here"
                                                    id="bits-input"
                                                    name="p-number"
                                                />
                                                <div class="text-center mt-3">
                                                    <button class="btn btn-primary" type="submit">Generate prime</button>
                                                </div>
                                                <div id="loading-spinner-generate-prime" class="text-center mt-3" style="display: none;">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Waiting...</span>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="flex-direction: column">
                                                <div class="col-12">
                                                    <h4 class="text-white fs-4 fw-bold">Result:</h4>
                                                    <textarea id="prime-result" readonly class="text-area-large"></textarea>
                                                    <button onclick="copyToClipboard('prime-result')">Copy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all-crypto-systems">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4>Generate a relative prime</h4>
                                        
                                    </div>

                                    <div class="flex-direction: column">
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">Enter a number:</h4>
                                            <textarea id="relative-prime-input" placeholder="Type here" class="text-area-large"></textarea>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button class="btn btn-primary" onclick="generateRelativePrime()">Get a relative prime</button>
                                        </div>
                                        <div id="loading-spinner-relative-prime" class="text-center mt-3" style="display: none;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="visually-hidden">Waiting...</span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="text-white fs-4 fw-bold">Result:</h4>
                                            <textarea id="relative-prime-result" placeholder="Type here" class="text-area-large"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../assets/js/isotope.min.js"></script>
        <script src="../assets/js/owl-carousel.js"></script>
        <script src="../assets/js/tabs.js"></script>
        <script src="../assets/js/popup.js"></script>
        <script src="../assets/js/custom.js"></script>
        <script src="../assets/js/algorithms.js"></script>
    </body>
</html>
